/* Write your CSS code here */
.nav-container {
  width: 130vw;
}

@media screen and (max-width: 567px) {
  .mobile-view {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 150px;
    margin-right: 150px;
  }
  .desktop-view {
    background-color: #e6f6ff;
    padding: 10px;
    width: 100%;
  }
  .nav-con-logo-img {
    height: 30px;
  }
  .logout-btn {
    background-color: transparent;
    border-width: 0px;
    cursor: pointer;
  }
  .nav-con-logout-img {
    height: 20px;
  }
  .nav-ul-con {
    display: none;
  }
  .img-container {
    display: flex;
    justify-content: space-around;
  }
  .nav-home-img {
    height: 40px;
  }
  .nav-logo-img {
    display: none;
  }
}

@media screen and (min-width: 567px) and (max-width: 767px) {
  .mobile-view {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .desktop-view {
    background-color: #e6f6ff;
    padding: 10px;
    width: 100%;
  }
  .nav-con-logo-img {
    height: 50px;
  }
  .logout-btn {
    background-color: transparent;
    border-width: 0px;
    cursor: pointer;
  }
  .nav-con-logout-img {
    height: 40px;
  }
  .nav-ul-con {
    display: none;
  }
  .img-container {
    display: flex;
    justify-content: space-around;
  }
  .nav-home-img {
    height: 40px;
  }
  .nav-logo-img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-view {
    display: none;
  }
  .desktop-view {
    padding: 10px;
    width: 100%;
    margin-left: 150px;
    margin-right: 150px;
  }
  .nav-ul-con {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .img-con {
    display: none;
  }
  .nav-home-img {
    display: none;
  }
  .nav-logo-img {
    height: 8vh;
  }
  .nav-desktop-con {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .li-element {
    color: #475569;
    font-size: 30px;
    font-family: roboto;
    margin: 10px;
  }
  .logout-btn {
    background-color: #0967d2;
    border-width: 0px;
    font-family: roboto;
    font-size: 25px;
    height: 8vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
  }
}
